*{
    margin: 0 px; padding: 0%;
}

.train{
    top: 200px;
    position: relative;
}

.shin,.raj,.geet,.hanu,.text{
    position:relative; 
    }
   


.shin{
    bottom: 0px;
    left: 40px;
}
.geet{
    position: absolute;
    top: 4940px;
    bottom: 0px;
    right: 0;
}
.hanu{
    position: absolute;
    top: 4950px;
    right: 30px;
}
.raj{
    position: absolute;
    top: 4900px;
    bottom: 0px;
    left: 80;
}
.scene {
    background-image: url('bg.jpg');
    background-repeat: repeat-x;

  }
  .scene h1{height: fit-content;
      width: fit-content;
      font-family:cursive;
      border: 2px solid wheat;
      background-color: rgba(250, 235, 215, 0.564);
  }

  .scene h4{
      border-radius: 7px;
      position:absolute;
      border: 1px solid black;
      width: fit-content; height: fit-content;
      background-color: rgba(224, 198, 164, 0.66);
      cursor: pointer;
      padding: 3px;
      
  }
  .scene h4 a{
      text-decoration: none;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      
  }

  .scene h4:hover{
      transform: scale(1.5);
      }
  
  .one{
    top: 5200px;
    left: 10px;
  }
  
  .two{
    top: 5280px;
    left: 450px;
  }
  .three{
    top: 5200px;
    right: 260px;
  }
  .four{
     
      top: 5080px;
      right: 20px;
      
      
  }

  

  
 
  