*{
    margin: 0 px; padding: 0%;
}

.train{
    margin-top: 170px;
    position: relative;
}

.shin,.raj,.geet,.hanu,.text{
    position: absolute;
    }
   


.shin{
    bottom: 90px;
    left: 40px;
}
.geet{
    top: 250px;
    bottom: 0px;
    right: 0;
}
.hanu{
    bottom: 100px;
    right: 30px;
}
.raj{
    top: 260px;
    bottom: 0px;
    left: 80;
}


  
 
  