


#cf {
    position:relative;
    
    margin:0 auto;
    height: 700px;
    width: 1500px;
    background-color: rgb(20, 19, 19);
   
    
  }
  
  #cf img {

   
    position:absolute;
    margin-left: 320px;
    margin-top: 50px;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    filter: blur(3px);
  -webkit-filter: blur(3px);
 
  }

  
  #cf img.top:hover {
    opacity:0;
  }
  div


	.text {
		width: 20%;
		top: 34%;
		position: absolute;
		left: 40%;
		border-bottom: 5px solid white;
		overflow: hidden;
		animation: animate 2s linear forwards;
        color: white;
        font-size: xx-large;
	}

	.text h1 {
		color: white;
        
	}

	@keyframes animate {
		0% {
			width: 0px;
			height: 0px;
		}
		30% {
			width: 50px;
			height: 0px;
		}
		60% {
			width: 50px;
			height: 80px;
		}
	}

