h1{
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height:
}
h3{
    background-color: rgba(255, 255, 0, 0.878);
}
div{
    background-color: rgba(255, 255, 0, 0.878);
  }
*{
    margin: 0px;
}